<?xml version="1.0"?>
<launch>
  <arg name="output" default="screen"/> <!-- Set output="log" to mute the screen output -->
  <arg name="debug" default="True"/> <!-- Enable debugging information and pictures -->
  <arg name="source" default="none"/> <!-- Source of pre-planned data for this experiment -->
  <arg name="name" default="experiment"/> <!-- Name of the experiment -->
  <arg name="iterations" default="1000000"/> <!-- Number of iterations to run -->

  <param name="/apex_playground/perception/debug" value="$(arg debug)" />
  <param name="/apex_playground/experiment_name" value="$(arg name)" />
  <param name="/apex_playground/source_name" value="$(arg source)" />
  <param name="/apex_playground/iterations" value="$(arg iterations)" />
  <node name="environment" pkg="apex_playground" type="environment.py" output="$(arg output)"/>
  <node name="perception" pkg="apex_playground" type="perception.py" output="$(arg output)"/>
  <node name="torso" pkg="apex_playground" type="torso.py" output="$(arg output)" respawn="true"/>
  <node name="learning" pkg="apex_playground" type="learning.py" output="$(arg output)" required="true"/>
  <node name="user" pkg="apex_playground" type="user.py" output="$(arg output)" respawn="true"/>
  <node name="sound" pkg="apex_playground" type="sound.py" output="$(arg output)" respawn="true"/>
</launch>
